@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  body,
  html {
    font-family: 'Inter', sans-serif;
    /* font-optical-sizing: auto;
    font-style: normal; */
    @apply p-0 m-0 text-gray-900 bg-gray-50;
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    margin: 0 auto;
  }

  .primary-text-color {
    @apply text-[#00D4FF];
  }

  .gradient-bg {
    @apply bg-gradient-to-r from-[#00D4FF] to-[#8A2BE2] drop-shadow-md;
  }

  .icon {
    @apply p-1.5 border-gray-200 rounded-md border-1 active:text-gray-400;
  }

  .text-title {
    @apply text-gray-900;
  }
  .text-body {
    @apply text-gray-700;
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
